<section class="nav_section">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../assets/images/logo_icon.svg" alt="#" /> Open Impact</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:" id="managementDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="managementDropdown">
              <li><a class="dropdown-item" routerLink="/create-group" routerLinkActive="active">Create Group</a></li>
              <li><a class="dropdown-item" routerLink="/create-project" routerLinkActive="active">Create Project</a>
              </li>
              <li><a class="dropdown-item" routerLink="management/create-user-preferences" routerLinkActive="active">Create User
                  Preferences</a></li>
              <li><a class="dropdown-item" routerLink="/management/create-user" routerLinkActive="active">Create
                  User</a></li>
              <li><a class="dropdown-item" routerLink="/create-user-profile" routerLinkActive="active">Create User
                  Profile</a></li>
            </ul>
          </li>

          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:" id="my-project">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:" id="my-group">My Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:">Donate</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link round_icon" href="javascript:"><img src="../assets/images/chat.svg" alt="#" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link round_icon" href="javascript:"><img src="../assets/images/bell.svg" alt="#" /></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Leslie Alexander
              <img src="../assets/images/user.png" alt="#" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="javascript:">Discussions</a></li>
              <li><a class="dropdown-item" href="javascript:">Dashboard</a></li>
              <li><a class="dropdown-item" href="javascript:">Overview</a></li>
              <li><a class="dropdown-item" href="javascript:">My projects</a></li>
              <li><a class="dropdown-item" href="javascript:">Management</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="javascript:">Settings</a></li>
              <li><a class="dropdown-item" href="javascript:">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mega_dropdown" id="my-project-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form method="post">
            <input type="text" name="" placeholder="Search Project" class="form-control" />
            <button class="search-button">
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.91188e-07" y="0.0450582" width="8.81618" height="3.95849" rx="1.97924"
                  transform="matrix(0.46356 0.46356 -0.463556 0.463564 20.1889 18.3167)" fill="#272D35" stroke="#272D35"
                  stroke-width="0.0972" />
                <ellipse cx="13.5" cy="13.5" rx="9.54594" ry="9.54594" transform="rotate(45 13.5 13.5)" stroke="#272D35"
                  stroke-width="3" />
              </svg>
            </button>
          </form>
        </div>
        <div class="col-12 col-md-3">
          <ul class="drop_list">
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img1.png" />Santa Ana Trail
                Cleanup</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img2.png" />Urban Farm
                Initiative</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img3.png" />Food Train
                Nashik</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img4.png" />Gardens of
                Giving</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul class="drop_list">
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img5.png" />Arts & Culture
                Festival</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img6.png" />Urban Farm
                Initiative</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img7.png" />Local Watershed
                Stewardship</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img8.png" />Open Mic & Benefit
                Show</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <a href="javascript:" class="btn btn-white">+Add New Project</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mega_dropdown" id="my-group-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form method="post">
            <input type="text" name="" placeholder="Search Group" class="form-control" />
            <button class="search-button">
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.91188e-07" y="0.0450582" width="8.81618" height="3.95849" rx="1.97924"
                  transform="matrix(0.46356 0.46356 -0.463556 0.463564 20.1889 18.3167)" fill="#272D35" stroke="#272D35"
                  stroke-width="0.0972" />
                <ellipse cx="13.5" cy="13.5" rx="9.54594" ry="9.54594" transform="rotate(45 13.5 13.5)" stroke="#272D35"
                  stroke-width="3" />
              </svg>
            </button>
          </form>
        </div>
        <div class="col-12 col-md-3">
          <ul class="drop_list">
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img1.png" />Community Forest
                Alliance</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img2.png" />Urban Farm
                Initiative</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img3.png" />Food Train
                Nashik</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img4.png" />Gardens of
                Giving</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <a href="javascript:" class="btn btn-white">+Add New Group</a>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="market_search_bar">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-3">
        <h4>Marketplace</h4>
      </div>
      <div class="col-12 col-md-6">
        <form method="post">
          <div class="form-group">
            <input type="text" name="" placeholder="Lorem ipsum dolor sit amet" class="form-control">
          </div>
        </form>
      </div>
      <div class="col-12 col-md-3">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a routerLink="/grid" routerLinkActive="active">
              <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0 11.0769H4.15385V6.92308H0V11.0769ZM0 4.15385H4.15385V0H0V4.15385ZM0 18H4.15385V13.8462H0V18ZM6.92308 18H11.0769V13.8462H6.92308V18ZM13.8462 11.0769H18V6.92308H13.8462V11.0769ZM6.92308 11.0769H11.0769V6.92308H6.92308V11.0769ZM13.8462 18H18V13.8462H13.8462V18ZM13.8462 0V4.15385H18V0H13.8462ZM6.92308 4.15385H11.0769V0H6.92308V4.15385Z"
                  fill="white" />
              </svg>
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/list" routerLinkActive="active">
              <svg width="24" height="14" viewBox="0 0 24 14" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M0.75 8.25H3.25V5.75H0.75V8.25ZM0.75 13.25H3.25V10.75H0.75V13.25ZM0.75 3.25H3.25V0.75H0.75V3.25ZM5.75 8.25H23.25V5.75H5.75V8.25ZM5.75 13.25H23.25V10.75H5.75V13.25ZM5.75 0.75V3.25H23.25V0.75H5.75Z"
                  fill="white" />
              </svg>
            </a>
          </li>
          <li class="list-inline-item">
            <a routerLink="/map" routerLinkActive="active">
              <svg width="19" height="23" viewBox="0 0 19 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                  d="M16.2175 17.1853C19.9275 13.2539 19.9275 6.87988 16.2175 2.94853C12.5076 -0.982842 6.49248 -0.982842 2.78249 2.94853C-0.927497 6.87988 -0.927497 13.2539 2.78249 17.1853L4.84675 19.3398L7.61912 22.1934L7.79939 22.3627C8.85087 23.2655 10.3906 23.2091 11.3812 22.1937L14.6874 18.7868L16.2175 17.1853ZM9.50002 14.375C7.25143 14.375 5.42858 12.4443 5.42858 10.0625C5.42858 7.68077 7.25143 5.74999 9.50002 5.74999C11.7487 5.74999 13.5715 7.68077 13.5715 10.0625C13.5715 12.4443 11.7487 14.375 9.50002 14.375Z"
                  fill="white" />
              </svg>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
