<section class="nav_section">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/"><img src="../assets/images/logo_icon.svg" alt="#" /> Open Impact</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav m-auto">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:" id="managementDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Management
            </a>
            <ul class="dropdown-menu" aria-labelledby="managementDropdown">
              <li><a class="dropdown-item" routerLink="/management/create-group" routerLinkActive="active">Create
                  Group</a></li>
              <li><a class="dropdown-item" routerLink="/management/create-project" routerLinkActive="active">Create
                  Project</a>
              </li>
              <li><a class="dropdown-item" routerLink="/management/create-user-preferences"
                  routerLinkActive="active">Create User
                  Preferences</a></li>
              <li><a class="dropdown-item" routerLink="/management/create-user" routerLinkActive="active">Create
                  User</a></li>
              <li><a class="dropdown-item" routerLink="/management/create-user-profile" routerLinkActive="active">Create
                  User
                  Profile</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="javascript:" id="my-project">My Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:" id="my-group">My Groups</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/marketplace/card-grid">Marketplace</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="javascript:">Donate</a>
          </li>
        </ul>
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link round_icon" href="javascript:"><img src="../assets/images/chat.svg" alt="#" /></a>
          </li>
          <li class="nav-item">
            <a class="nav-link round_icon" href="javascript:"><img src="../assets/images/bell.svg" alt="#" /></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="javascript:" id="navbarDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              Leslie Alexander
              <img src="../assets/images/user.png" alt="#" />
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" routerLink="/profile">Discussions</a></li>
              <li><a class="dropdown-item" href="javascript:">Dashboard</a></li>
              <li><a class="dropdown-item" href="javascript:">Overview</a></li>
              <li><a class="dropdown-item" href="javascript:">My projects</a></li>
              <li><a class="dropdown-item" href="javascript:">Management</a></li>
              <li>
                <hr class="dropdown-divider" />
              </li>
              <li><a class="dropdown-item" href="javascript:">Settings</a></li>
              <li><a class="dropdown-item" href="javascript:">Log out</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="mega_dropdown" id="my-project-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form method="post">
            <input type="text" name="" placeholder="Search Project" class="form-control" />
            <button class="search-button">
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.91188e-07" y="0.0450582" width="8.81618" height="3.95849" rx="1.97924"
                  transform="matrix(0.46356 0.46356 -0.463556 0.463564 20.1889 18.3167)" fill="#272D35" stroke="#272D35"
                  stroke-width="0.0972" />
                <ellipse cx="13.5" cy="13.5" rx="9.54594" ry="9.54594" transform="rotate(45 13.5 13.5)" stroke="#272D35"
                  stroke-width="3" />
              </svg>
            </button>
          </form>
        </div>
        <div class="col-12 col-md-3">
          <ul class="drop_list">
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img1.png" />Santa Ana Trail
                Cleanup</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img2.png" />Urban Farm
                Initiative</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img3.png" />Food Train
                Nashik</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img4.png" />Gardens of
                Giving</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <ul class="drop_list">
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img5.png" />Arts & Culture
                Festival</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img6.png" />Urban Farm
                Initiative</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img7.png" />Local Watershed
                Stewardship</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img8.png" />Open Mic & Benefit
                Show</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <a href="javascript:" class="btn btn-white">+Add New Project</a>
        </div>
      </div>
    </div>
  </div>
  <div class="mega_dropdown" id="my-group-menu">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <form method="post">
            <input type="text" name="" placeholder="Search Group" class="form-control" />
            <button class="search-button">
              <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect x="1.91188e-07" y="0.0450582" width="8.81618" height="3.95849" rx="1.97924"
                  transform="matrix(0.46356 0.46356 -0.463556 0.463564 20.1889 18.3167)" fill="#272D35" stroke="#272D35"
                  stroke-width="0.0972" />
                <ellipse cx="13.5" cy="13.5" rx="9.54594" ry="9.54594" transform="rotate(45 13.5 13.5)" stroke="#272D35"
                  stroke-width="3" />
              </svg>
            </button>
          </form>
        </div>
        <div class="col-12 col-md-3">
          <ul class="drop_list">
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img1.png" />Community Forest
                Alliance</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img2.png" />Urban Farm
                Initiative</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img3.png" />Food Train
                Nashik</a>
            </li>
            <li>
              <a href="javascript:"><img src="../assets/images/drop_img4.png" />Gardens of
                Giving</a>
            </li>
          </ul>
        </div>
        <div class="col-12 col-md-3">
          <a href="javascript:" class="btn btn-white">+Add New Group</a>
        </div>
      </div>
    </div>
  </div>
</section>
