<section class="onboard_section">
  <img src="../assets/images/login_print2.png" alt="#" class="print_top" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <div class="white_box">
          <form method="post">
            <h4>Forgot Your Username</h4>
            <div class="form-group">
              <label class="form-label">Email Address</label>
              <input type="text" name="" class="form-control" placeholder="Email Address" />
            </div>
            <div class="row">
              <div class="col-6">
                <a routerLink="/onboarding/login" class="btn btn-purple-dark">Submit</a>
              </div>
              <div class="col-6 text-right">
                <a routerLink="/onboarding/login" class="back_link">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <img src="../assets/images/login_print1.png" alt="#" class="print_bot" />
</section>
