<section class="create_section">
  <div class="create_steps create_steps_two_item">
    <div class="step_flex step1" [ngClass]="{'active': counter >= 0}">Basic Info</div>
    <div class="step_flex step2" [ngClass]="{'active': counter >= 1}">Address and Settings</div>
  </div>
  <div class="create_wrap">
    <form novalidate #createUserForm="ngForm" (ngSubmit)="createUser(createUserForm)">
    <div class="inner_wrap" [ngClass]="{'active': counter === 0}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <h4>Basic Info</h4>

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label required">First Name</label>
                  <input type="text" name="FirstName" [(ngModel)]="createUserFormPayload.FirstName" class="form-control" placeholder="First Name" required>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label">Last Name</label>
                  <input type="text" name="LastName" [(ngModel)]="createUserFormPayload.LastName" class="form-control" placeholder="Last Name">
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label required">Username</label>
                  <input type="text" name="UserName" [(ngModel)]="createUserFormPayload.UserName" class="form-control" placeholder="Username" required>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label required">Nick Name</label>
                  <input type="text" name="NickName" [(ngModel)]="createUserFormPayload.NickName" class="form-control" placeholder="NickName" required>
                </div>
<!--
                <div class="form-group">
                  <label class="form-label">Birthday</label>
                  <select class="form-control">
                    <option>1/1/2021</option>
                    <option>1/1/2021</option>
                    <option>1/1/2021</option>
                  </select>
                </div>
-->
              </div>
            </div>

            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label required">Email</label>
                  <input type="text" name="Email" [(ngModel)]="createUserFormPayload.Email" class="form-control" placeholder="Email" required>
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label required">Password</label>
                  <input type="text" name="Password" [(ngModel)]="createUserFormPayload.Password" class="form-control" placeholder="Password" required>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label">Profile Location</label>
              <form method="post">
                <input type="text" name="" placeholder="Search Location" class="form-control">
                <button class="search-button">
                  <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.91188e-07" y="0.0450582" width="8.81618" height="3.95849" rx="1.97924" transform="matrix(0.46356 0.46356 -0.463556 0.463564 20.1889 18.3167)" fill="#272D35" stroke="#272D35" stroke-width="0.0972"/>
                    <ellipse cx="13.5" cy="13.5" rx="9.54594" ry="9.54594" transform="rotate(45 13.5 13.5)" stroke="#272D35" stroke-width="3"/>
                  </svg>
                </button>
              </form>
            </div>
            <div class="form-group mt-4">
              <label class="label green">Do you agree to our <a href="#">Terms of Service?</a>
                <input type="checkbox">
                <span class="checkmark"></span>
              </label>
            </div>

            <hr>
            <div class="text-right">
              <button class="btn btn-purple-dark" [disabled]="!createUserForm.valid || isLoading" (click)="go(1)">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner_wrap" [ngClass]="{'active': counter === 1}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <h4>Address and Settings</h4>
            <div class="form-group">
              <label class="form-label">Street Address</label>
              <input type="text" name="" class="form-control" placeholder="Street Address">
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label">City</label>
                  <input type="text" name="" class="form-control" placeholder="City">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label">Province</label>
                  <input type="text" name="" class="form-control" placeholder="Province">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label">State</label>
                  <input type="text" name="" class="form-control" placeholder="State">
                </div>
              </div>
              <div class="col-12 col-md-6">
                <div class="form-group">
                  <label class="form-label">Zip Code</label>
                  <input type="text" name="" class="form-control" placeholder="Zip Code">
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label class="form-label">Country</label>
                  <select class="form-control">
                    <option>United State</option>
                    <option>United State</option>
                    <option>United State</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label class="form-label">Time Zone</label>
                  <select class="form-control">
                    <option>Pacific Daylight Time</option>
                    <option>Pacific Daylight Time</option>
                    <option>Pacific Daylight Time</option>
                  </select>
                </div>
              </div>
              <div class="col-12 col-md-4">
                <div class="form-group">
                  <label class="form-label">Language</label>
                  <select class="form-control">
                    <option>English</option>
                    <option>English</option>
                    <option>English</option>
                  </select>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label class="form-label required">Security Question</label>
              <input type="text" name="Question" [(ngModel)]="createUserFormPayload.Question" class="form-control" placeholder="e.g: name of your close friend">
            </div>
            <div class="form-group">
              <label class="form-label required">Security Answer</label>
              <input type="text" name="Answer" [(ngModel)]="createUserFormPayload.Answer" class="form-control" placeholder="e.g: john">
            </div>
            <div class="form-group">
              captcha
            </div>
            <hr>
            <div class="button_flex">
              <div class="text-left">
                <button class="btn btn-white" (click)="go(0)">Back</button>
              </div>
              <div class="text-right">
                <button class="btn btn-purple-dark">Finish</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
  </div>
</section>
