<!-- step 1 -->
<section class="onboard_section" [hidden]="steps !== 0">
  <img src="../assets/images/login_print2.png" alt="#" class="print_top" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <div class="white_box">
          <form method="post">
            <h4>Forgot Your Password</h4>
            <div class="form-group">
              <label class="form-label">Username</label>
              <input type="text" name="" class="form-control" placeholder="Username" />
            </div>
            <div class="row">
              <div class="col-6">
                <button type="button" class="btn btn-purple-dark" (click)="stepChange(1)">Next</button>
              </div>
              <div class="col-6 text-right">
                <a href="#" class="back_link">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <img src="../assets/images/login_print1.png" alt="#" class="print_bot" />
</section>
<!-- step 1 -->

<!-- step 2 -->
<section class="onboard_section" [hidden]="steps !== 1">
  <img src="../assets/images/login_print2.png" alt="#" class="print_top" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <div class="white_box">
          <form method="post">
            <h4>Forgot Your Password</h4>
            <div class="form-group">
              <label class="form-label">What was your best friend's name growing up?</label>
              <input type="text" name="" class="form-control" placeholder="Answer" />
            </div>
            <div class="row">
              <div class="col-6">
                <a routerLink="/onboarding/login" class="btn btn-purple-dark">Submit</a>
              </div>
              <div class="col-6 text-right">
                <a href="javascript:void(0)" (click)="stepChange(0)" class="back_link">Back</a>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <img src="../assets/images/login_print1.png" alt="#" class="print_bot" />
</section>
<!-- step 2 -->
