<section class="create_section">
  <div class="create_steps">
    <div class="step_flex step1" [ngClass]="{'active': counter >= 0}">About</div>
    <div class="step_flex step2" [ngClass]="{'active': counter >= 1}">Objective</div>
    <div class="step_flex step3" [ngClass]="{'active': counter >= 2}">Funding</div>
    <div class="step_flex step4" [ngClass]="{'active': counter >= 3}">Talent</div>
  </div>
  <div class="create_wrap">
    <div class="inner_wrap" [ngClass]="{'active': counter === 0}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <h4>About Your Project</h4>
            <div class="form-group">
              <label class="form-label">Name</label>
              <input type="text" name="" class="form-control" placeholder="Name">
            </div>
            <div class="form-group">
              <label class="form-label">Purpose</label>
              <select class="form-control">
                <option>Item</option>
                <option>Item</option>
                <option>Item</option>
              </select>
            </div>
            <ul class="list-inline badge-tag">
              <li class="list-inline-item">
									<span class="badge bg-green">
										<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M6.04992 10.6592L6.00193 10.688L5.97314 10.67C-3.11516 5.20811 0.00384399 -0.0630103 3.37717 0.000569407C3.48513 0.000569407 3.5943 0.0113659 3.70227 0.0245617C5.06023 0.188909 5.69963 0.942269 6.00193 1.59006C6.30304 0.942269 6.94363 0.188909 8.3016 0.0305598C11.7793 -0.397703 15.4009 5.02457 6.04992 10.6592Z" fill="white"/>
										</svg>
										AQUATIC ECOLOGY <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
              <li class="list-inline-item">
									<span class="badge bg-green">
										<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M6.04992 10.6592L6.00193 10.688L5.97314 10.67C-3.11516 5.20811 0.00384399 -0.0630103 3.37717 0.000569407C3.48513 0.000569407 3.5943 0.0113659 3.70227 0.0245617C5.06023 0.188909 5.69963 0.942269 6.00193 1.59006C6.30304 0.942269 6.94363 0.188909 8.3016 0.0305598C11.7793 -0.397703 15.4009 5.02457 6.04992 10.6592Z" fill="white"/>
										</svg>
										HUNGER & FOOD SYSTEMS <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
              <li class="list-inline-item">
									<span class="badge bg-green">
										<svg width="12" height="11" viewBox="0 0 12 11" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M6.04992 10.6592L6.00193 10.688L5.97314 10.67C-3.11516 5.20811 0.00384399 -0.0630103 3.37717 0.000569407C3.48513 0.000569407 3.5943 0.0113659 3.70227 0.0245617C5.06023 0.188909 5.69963 0.942269 6.00193 1.59006C6.30304 0.942269 6.94363 0.188909 8.3016 0.0305598C11.7793 -0.397703 15.4009 5.02457 6.04992 10.6592Z" fill="white"/>
										</svg>
										TERRESTRIAL ECOLOGY <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
            </ul>
            <div class="row">
              <div class="col-12 col-md-3">
                <div class="form-group">
                  <label class="form-label">Profile Image</label>
                  <div class="upload-btn-wrapper upload-btn-wrapper-single">
                    <button class="btn btn-upload"><img src="../assets/images/plus.svg" alt="#"></button>
                    <input type="file" name="myfile" />
                  </div>
                </div>
              </div>
              <div class="col-12 col-md-9">
                <div class="form-group">
                  <label class="form-label">Banner Picture</label>
                  <div class="upload-btn-wrapper upload-btn-wrapper-lg">
                    <button class="btn btn-upload"><img src="../assets/images/plus.svg" alt="#"></button>
                    <input type="file" name="myfile" />
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <label class="form-label">Tagline</label>
              <p>A few word teaser for your project—like "Reforesting Brazil one tree at a time," or "Mentor connections to empower youth.</p>
              <input type="text" name="" class="form-control" placeholder="Tagline">
            </div>
            <div class="form-group">
              <label class="form-label">Location</label>
              <form method="post">
                <input type="text" name="" placeholder="Search Location" class="form-control">
                <button class="search-button">
                  <svg width="27" height="27" viewBox="0 0 27 27" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <rect x="1.91188e-07" y="0.0450582" width="8.81618" height="3.95849" rx="1.97924" transform="matrix(0.46356 0.46356 -0.463556 0.463564 20.1889 18.3167)" fill="#272D35" stroke="#272D35" stroke-width="0.0972"/>
                    <ellipse cx="13.5" cy="13.5" rx="9.54594" ry="9.54594" transform="rotate(45 13.5 13.5)" stroke="#272D35" stroke-width="3"/>
                  </svg>
                </button>
              </form>
            </div>
            <div class="form-group">
              <label class="form-label">Project Description</label>
              <p>A few sentences about the purpose of this project</p>
              <app-rtfeditor name="Project-Description" placeholder="Description"></app-rtfeditor>
<!--              <textarea class="form-control" placeholder="Description"></textarea>-->
            </div>
            <div class="form-group">
              <label class="form-label">Sponsoring Organization</label>
              <input type="text" name="" class="form-control" placeholder="Organization">
            </div>
            <hr>
            <div class="text-right">
              <button class="btn btn-purple-dark" (click)="go(1)">Next</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner_wrap" [ngClass]="{'active': counter === 1}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <h4>Objective</h4>
            <div class="form-group">
              <label class="form-label">Project Detail</label>
              <p>Up to 800 words on the objective of the project</p>
              <app-rtfeditor name="Project-Detail" placeholder="Project Detail"></app-rtfeditor>
            </div>
            <hr>
            <div class="button_flex">
              <div class="text-left">
                <button class="btn btn-white" (click)="go(0)">Back</button>
              </div>
              <div class="text-right">
                <button class="btn btn-purple-dark" (click)="go(2)">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner_wrap" [ngClass]="{'active': counter === 2}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <h4>Funding</h4>
            <div class="form-group">
              <label class="form-label">Funding Goal</label>
              <input type="text" name="" class="form-control" placeholder="Funding Goal">
            </div>
            <div class="form-group">
              <label class="form-label">Funding Description</label>
              <p>A few sentences about the intended allocation of funds</p>
              <app-rtfeditor name="Funding-Description" placeholder="Description"></app-rtfeditor>
<!--              <textarea class="form-control" placeholder="Description"></textarea>-->
            </div>
            <h5>Measurable Goal</h5>
            <div class="fund_selector">
              <div class="row">
                <div class="col-4 pe-0">
                  <div class="form-group">
                    <label class="form-label">Amount</label>
                    <input type="text" name="" class="form-control" placeholder="Amount">
                  </div>
                </div>
                <div class="col-4 p-0">
                  <div class="form-group">
                    <label class="form-label">Unit</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
                <div class="col-4 ps-0">
                  <div class="form-group">
                    <label class="form-label">Frequency</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
            <div class="fund_selector">
              <div class="row">
                <div class="col-4 pe-0">
                  <div class="form-group">
                    <label class="form-label">Amount</label>
                    <input type="text" name="" class="form-control" placeholder="Amount">
                  </div>
                </div>
                <div class="col-4 p-0">
                  <div class="form-group">
                    <label class="form-label">Unit</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
                <div class="col-4 ps-0">
                  <div class="form-group">
                    <label class="form-label">Frequency</label>
                    <select class="form-control">
                      <option>1</option>
                      <option>1</option>
                      <option>1</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="rmv_goal">
									<span class="icon">
										<svg width="8" height="9" viewBox="0 0 8 9" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1.18922 8.12L3.98922 5.32L6.80922 8.12L7.84922 7.08L5.02922 4.28L7.84922 1.46L6.82922 0.44L3.98922 3.26L1.16922 0.44L0.149219 1.46L2.96922 4.28L0.149219 7.08L1.18922 8.12Z" fill="#7B3E6D"/>
										</svg>
									</span> Remove goal
              </div>

            </div>
            <div class="add_goal">
								<span class="icon">
									<svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
										<rect y="14" width="30" height="2" fill="#3C7178"/>
										<rect x="16" width="30" height="2" transform="rotate(90 16 0)" fill="#3C7178"/>
									</svg>
								</span> Add a goal
            </div>
            <hr>
            <div class="button_flex">
              <div class="text-left">
                <button class="btn btn-white" (click)="go(1)">Back</button>
              </div>
              <div class="text-right">
                <button class="btn btn-purple-dark" (click)="go(3)">Next</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="inner_wrap" [ngClass]="{'active': counter === 3}">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-12 col-md-7">
            <h4>Talent</h4>
            <div class="form-group">
              <label class="form-label">Skills Needed</label>
              <select class="form-control">
                <option>Item</option>
                <option>Item</option>
                <option>Item</option>
              </select>
            </div>
            <ul class="list-inline badge-tag">
              <li class="list-inline-item">
									<span class="badge bg-red">
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.440995 10.8131C0.156915 11.0972 0 11.4752 0 11.9115C0 12.7416 0.674909 13.4165 1.50498 13.4165C1.9279 13.4165 2.33389 13.2369 2.61855 12.9242L7.88483 7.13117L6.00418 5.24994L0.440995 10.8131ZM13.9147 5.33511L12.748 4.16845C12.6932 4.11362 12.6191 4.08329 12.5415 4.08329H12.2499V3.79162C12.2499 3.71404 12.2189 3.63996 12.1647 3.58513L9.83139 1.25182C9.36356 0.783991 8.57957 0 6.99992 0C5.42144 0 4.69753 0.723909 4.16845 1.25182C4.08504 1.33523 4.05995 1.46065 4.10545 1.56973C4.15037 1.67881 4.25712 1.74998 4.37495 1.74998C6.72751 1.74998 6.99992 2.74864 6.99992 3.49996C6.99992 4.12412 6.64643 4.59953 6.42068 4.84161L8.32641 6.74734C8.84207 6.39851 9.57473 5.98668 9.91656 6.01702V6.41659C9.91656 6.49418 9.94747 6.56826 10.0017 6.62309L11.46 8.08141C11.5149 8.13566 11.589 8.16658 11.6665 8.16658H11.6765C11.7575 8.16424 11.8334 8.12808 11.8859 8.06741L13.9275 5.7341C14.029 5.61802 14.0232 5.44419 13.9147 5.33511Z" fill="white"/>
										</svg>
										ACCOUNTING <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
              <li class="list-inline-item">
									<span class="badge bg-red">
										<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.440995 10.8131C0.156915 11.0972 0 11.4752 0 11.9115C0 12.7416 0.674909 13.4165 1.50498 13.4165C1.9279 13.4165 2.33389 13.2369 2.61855 12.9242L7.88483 7.13117L6.00418 5.24994L0.440995 10.8131ZM13.9147 5.33511L12.748 4.16845C12.6932 4.11362 12.6191 4.08329 12.5415 4.08329H12.2499V3.79162C12.2499 3.71404 12.2189 3.63996 12.1647 3.58513L9.83139 1.25182C9.36356 0.783991 8.57957 0 6.99992 0C5.42144 0 4.69753 0.723909 4.16845 1.25182C4.08504 1.33523 4.05995 1.46065 4.10545 1.56973C4.15037 1.67881 4.25712 1.74998 4.37495 1.74998C6.72751 1.74998 6.99992 2.74864 6.99992 3.49996C6.99992 4.12412 6.64643 4.59953 6.42068 4.84161L8.32641 6.74734C8.84207 6.39851 9.57473 5.98668 9.91656 6.01702V6.41659C9.91656 6.49418 9.94747 6.56826 10.0017 6.62309L11.46 8.08141C11.5149 8.13566 11.589 8.16658 11.6665 8.16658H11.6765C11.7575 8.16424 11.8334 8.12808 11.8859 8.06741L13.9275 5.7341C14.029 5.61802 14.0232 5.44419 13.9147 5.33511Z" fill="white"/>
										</svg>
										BOOKKEEPING <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
            </ul>
            <div class="form-group">
              <label class="form-label">Expertise Needed</label>
              <select class="form-control">
                <option>Item</option>
                <option>Item</option>
                <option>Item</option>
              </select>
            </div>
            <ul class="list-inline badge-tag">
              <li class="list-inline-item">
									<span class="badge bg-gold">
										<svg width="9" height="12" viewBox="0 0 9 12" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M0.75043 11.91C0.43704 12.1354 0 11.9115 0 11.5254V2.05293C0 0.91913 0.91913 0 2.05293 0H6.78941C7.92326 0 8.84234 0.91913 8.84234 2.05293V11.5254C8.84234 11.9115 8.40535 12.1354 8.09191 11.91L4.42116 9.26898L0.75043 11.91Z" fill="white"/>
										</svg>
										ACCOUNTING <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
            </ul>
            <div class="form-group">
              <label class="form-label">Collaborators</label>
              <select class="form-control">
                <option>Collaborators</option>
                <option>Collaborators</option>
                <option>Collaborators</option>
              </select>
            </div>
            <ul class="list-inline badge-tag">
              <li class="list-inline-item">
									<span class="badge bg-black">
										<svg width="10" height="14" viewBox="0 0 10 14" fill="none" xmlns="http://www.w3.org/2000/svg">
											<path d="M1.10526 8.10526L8.47368 8.106C9.0479 8.106 9.5203 8.54464 9.57386 9.10486L9.57895 9.21126V10.6842C9.57821 13.2632 6.84084 14 4.78947 14C2.78369 14 0.121358 13.2956 0.0040158 10.8534L0 10.6842V9.21053C0 8.6363 0.43862 8.16392 0.99887 8.11035L1.10526 8.10526ZM4.78947 0C6.62053 0 8.10526 1.48474 8.10526 3.31579C8.10526 5.14684 6.62053 6.63158 4.78947 6.63158C2.95842 6.63158 1.47368 5.14684 1.47368 3.31579C1.47368 1.48474 2.95842 0 4.78947 0Z" fill="white"/>
										</svg>
										George Lim <span class="close"><i class="fa fa-close"></i></span>
									</span>
              </li>
            </ul>
            <hr>
            <div class="button_flex">
              <div class="text-left">
                <button class="btn btn-white" (click)="go(2)">Back</button>
              </div>
              <div class="text-right">
                <button class="btn btn-purple-dark">Submit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
