<section class="onboard_section">
  <img src="../assets/images/login_print2.png" alt="#" class="print_top" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-md-5">
        <div class="white_box">
          <form method="post">
            <h4>Sign In</h4>
            <div class="form-group">
              <label class="form-label">
                Username
                <a routerLink="/onboarding/forget-username" class="forgot_link">Forgot username</a>
              </label>
              <input type="text" name="" class="form-control" placeholder="Username" />
            </div>
            <div class="form-group">
              <label class="form-label">
                Password
                <a routerLink="/onboarding/forget-password" class="forgot_link">Forgot password</a>
              </label>
              <input type="password" name="" class="form-control" placeholder="Password" />
            </div>
            <a routerLink="/marketplace" class="btn btn-purple-dark">Sign In</a>
            <hr />
            <a href="#" class="btn btn-white"><img src="../assets/images/google.svg" alt="#" /> Sign In With Google</a>
            <a href="#" class="btn btn-white mb-0"
              ><img src="../assets/images/facebook.svg" alt="#" /> Sign In With Facebook</a
            >
          </form>
        </div>
      </div>
    </div>
  </div>
  <img src="../assets/images/login_print1.png" alt="#" class="print_bot" />
</section>
